@{
    ViewData["Title"] = "Contacts Us";
}

<!-- Breadcrumbs-->
<section class="breadcrumbs-custom" style="background: url('../images/1.jpg'); background-size: cover;">
    <div class="container">
        <p class="breadcrumbs-custom-subtitle">Get in Touch with Us</p>
        <p class="heading-1 breadcrumbs-custom-title">Contacts</p>
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contacts</li>
        </ul>
    </div>
</section>


<!-- Contact info-->
<section class="section section-lg bg-default text-center">
    <div class="container container-wide">
        <div class="row row-fix row-50 row-custom-bordered">
            <div class="col-sm-6 col-lg-3">
                <!-- Box minimal-->
                <article class="box-simple">
                    <div class="box-simple-icon novi-icon mdi mdi-map-marker"></div>
                    <h6>Address</h6>
                    <div class="box-simple-text"><a href="#">2130 Fulton Street, Chicago, IL <br> 94117-1080 USA</a></div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Box simple-->
                <article class="box-simple">
                    <div class="box-simple-icon novi-icon mdi mdi-phone"></div>
                    <h6>phones</h6>
                    <div class="box-simple-text">
                        <ul class="list-comma list-0">
                            <li><a href="tel:#">1-800-6543-765</a></li>
                            <li><a href="tel:#">1-800-3434-876</a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Box simple-->
                <article class="box-simple">
                    <div class="box-simple-icon novi-icon mdi mdi-email-open"></div>
                    <h6>e-mail</h6>
                    <div class="box-simple-text">
                        <ul class="list-comma list-0">
                            <li><a href="mailto:#">mail@demolink.org</a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Box simple-->
                <article class="box-simple">
                    <div class="box-simple-icon novi-icon mdi mdi-calendar-clock"></div>
                    <h6>opening hours</h6>
                    <div class="box-simple-text">
                        <ul class="list-0">
                            <li>Mon–Fri: 9:00 am–6:00 pm</li>
                            <li>Sat–Sun: 11:00 am–4:00 pm</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


<!-- Our history-->
<section class="section section-lg bg-gray-700 novi-background bg-cover">
    <div class="container container-bigger">
        <div class="row row-fix row-50 justify-content-sm-center justify-content-xl-between">
            <div class="col-sm-10 col-md-12 col-xl-7">
                <h3>Agency's Timeline</h3>
                <div class="divider divider-decorate"></div>
                <p class="text-gray-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
                <div class="time-line-vertical inset-md">
                    <div class="time-line-vertical-element">
                        <div class="unit unit-sm flex-column flex-md-row unit-spacing-xxl">
                            <div class="unit-left">
                                <div class="time-line-time">
                                    <time class="wow fadeInLeft" data-wow-delay=".0s" datetime="2018">April 2016</time>
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="time-line-content wow fadeInRight" data-wow-delay=".6s">
                                    <h5>We gathered the team of dedicated and knowledgeable traveling specialists</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-line-vertical-element">
                        <div class="unit flex-column flex-md-row unit-spacing-xxl">
                            <div class="unit-left">
                                <div class="time-line-time">
                                    <time class="wow fadeInLeft" data-wow-delay=".1s" datetime="2018">September 2016</time>
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="time-line-content wow fadeInRight" data-wow-delay=".7s">
                                    <h5>Extending our range of tours and excursions</h5>
                                    <p>Aenean et tortor at risus viverra adipiscing at in tellus. Nam aliquam sem et tortor consequat id porta nibh venenatis. Eu lobortis elementum nibh tellus. Id eu nisl nunc mi. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-line-vertical-element">
                        <div class="unit flex-column flex-md-row unit-spacing-xxl">
                            <div class="unit-left">
                                <div class="time-line-time">
                                    <time class="wow fadeInLeft" data-wow-delay=".2s" datetime="2018">March 2019</time>
                                </div>
                            </div>
                            <div class="unit-body">
                                <div class="time-line-content wow fadeInRight" data-wow-delay=".8s">
                                    <h5>Partnering with international tour companies</h5>
                                    <p>Malesuada fames ac turpis egestas sed tempus urna et pharetra. Cursus mattis molestie a iaculis at erat pellentesque. Turpis in eu mi bibendum neque egestas congue quisque</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-12 col-xl-4">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-12 wow fadeInUp" data-wow-delay=".1s">
                        <img src="images/about-us-2-420x280.jpg" alt="" width="420" height="280" />
                    </div>
                    <div class="col-md-4 col-xl-12 wow fadeInUp" data-wow-delay=".2s">
                        <img src="images/about-us-3-420x280.jpg" alt="" width="420" height="280" />
                    </div>
                    <div class="col-md-4 col-xl-12 wow fadeInUp" data-wow-delay=".3s">
                        <img src="images/about-us-4-420x280.jpg" alt="" width="420" height="280" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="section section-lg text-center novi-background bg-cover">
    <div class="container container-wide">
        <h3>MEET OUR TEAM</h3>
        <div class="divider divider-decorate"></div>
        <div class="row row-50 row-xxl-90 justify-content-sm-center offset-custom-2">
            <div class="col-md-6 col-lg-3">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="rounded-circle" src="~/images/Leo.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="#">Leo Liu</a></h5>
                        <p class="team-classic-job-position">Founder, Director</p>
                        <ul class="list-inline list-team">
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="https://www.facebook.com/"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="https://twitter.com/login"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="https://www.instagram.com/?hl=en"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="https://aboutme.google.com/"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="https://www.linkedin.com/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="rounded-circle" src="~/images/Anton.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="#">Anton Chartovich</a></h5>
                        <p class="team-classic-job-position">Tour Manager</p>
                        <ul class="list-inline list-team">
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="https://www.facebook.com/"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="https://twitter.com/login"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="https://www.instagram.com/?hl=en"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="https://aboutme.google.com/"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="https://www.linkedin.com/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>