@model IEnumerable<TeamProject.Models.Tour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="row row-fix row-50 justify-content-md-center">
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h3>Destinations</h3>
            <div class="divider divider-decorate"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        </div>
    </div>

    <div class="row row-50" data-lightgallery="group">

        <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="gallery-item titled-gallery-item" href="~/images/Paris.jpg" data-lightgallery="item"></a>
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="images/project-1-1200x800-original.jpg" data-lightgallery="item">

                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/paris570x370.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>

                <div class="titled-gallery-caption"><a href="#">France, Paris</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/BostonMain.jpg" data-lightgallery="item"></a>

                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Bora Bora</div>
                    <p class="card-text">Description for Paris</p>
                    <br />
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>

            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="images/project-2-1200x800-original.jpg" data-lightgallery="item">

                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/boston570x370.png" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>

                <div class="titled-gallery-caption"><a href="#">USA, Boston</a></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/VeniceMain.jpg" data-lightgallery="item"></a>

                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Egypt</div>
                    <p class="card-text">Description for Egypt</p>
                    <br />
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>

            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="images/project-3-1200x800-original.jpg" data-lightgallery="item">

                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/Venice570x370.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>

                <div class="titled-gallery-caption"><a href="#">Italy, Venice</a></div>

                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Thailand</div>
                    <p class="card-text">Description for Thailand</p>
                    <br />
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>

            </div>
            @*Dominicana*@
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="images/project-4-1200x800-original.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="images/project-4-570x380.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Dominicana</div>
                    <p class="card-text">Description for Dominicana</p>
                    <br />
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            @*Jamaica*@
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="images/project-5-1200x800-original.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="images/project-5-570x380.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Jamaica</div>
                    <p class="card-text">Description for Jamaica</p>
                    <br />
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            @*Huntington Beach*@
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="images/project-6-1200x800-original.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="images/project-6-570x380.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Huntington Beach</div>
                    <p class="card-text">Description for Huntington Beach</p>
                    <br />
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>

            <div class="col-12"><a class="button button-secondary button-nina" href="#">view all Destinations</a></div>
        </div>
    </div>
</section>

<!-- CTA Gradient-->
<section class="section section-xs text-center bg-gray-700 novi-background bg-cover">
    <div class="container container-wide">
        <div class="box-cta-thin">
            <p class="big"><strong>The most affordable prices!  </strong>&nbsp;<span>Choose your favorite destination!</span>&nbsp;<a class="link-bold" href="#">Order a tour! </a></p>
        </div>
    </div>
</section>