@model IEnumerable<TeamProject.Models.Tour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- Projects-->
<section class="section section-lg bg-gray-lighter text-center novi-background bg-cover">
    <div class="container container-wide">
        @* Title and title description *@
        <div class="row row-fix row-50 justify-content-md-center">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h3>Destinations</h3>
                <div class="divider divider-decorate"></div>
                <p class="font-weight-bold">Check out our deals!!</p>
            </div>
        </div>
        <div class="row row-50" data-lightgallery="group">
            @foreach (var item in Model)
            {

                <div class="card col-sm-12 col-md-6 col-lg-4">
                    <a class="gallery-item titled-gallery-item" href="~/images/Tours/@(item.TourId).jpg" data-lightgallery="item">
                        <div class="gallery-item-image">
                            <figure>
                                <img src="~/images/Tours/Thumbnails/@(item.TourId).jpg" alt="" width="570" height="380" />
                            </figure>
                            <div class="caption">
                            </div>
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="titled-gallery-caption text-center">@item.Destination</div>
                        <p class="card-text font-weight-bold">@item.Discription</p>
                        <br />
                    </div>
                    <div class="card-footer">
                        <a asp-route-id="@item.TourId" asp-controller="Summary" asp-action="Create" class="btn btn-primary">BUY IT!</a>
                    </div>
                </div>

            }
        </div>
    </div>
</section>






